<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django Site</title>

</head>
<body>
      <h1>Forget Password Page </h1>
      {% if alert %}
      <div style="color: red; font-weight: bold;">
          {{ alert }}
      </div>
      {% endif %}
      <form action="" method="post" novalidate>
        {% csrf_token %}
        
        {{form.as_p}}
       
        <button input="type">Submit</button>
        <br>
        <h3>if you enter the correct name and email then you will get the password on the your email</h3>
        

</body>
</html>
